.navbar {
    background-color: #000000;
}

.nav-link {
    color: white;
}

.navbar-toggler {
    border-color: #60d4ea; /* Cambia el borde del botón */
}

.navbar-toggler-icon {
    background-color: #9ae5f3;
}

.nombre {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.texto {
    font-family: "Acme", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
.imagen {
    border-radius: 30%;
    overflow: hidden;
    position: relative;
    width: 17rem;
    background-repeat: no-repeat;
}

.contenido-principal {
    background-color: #87d8e0;
    color: #000000;
}

.contenido-principal2 {
    background-color: #60c2d4;
    color: #000000;
}

.btn-info {
    border-color: #000000;
    background-color: #60c2d4;
}

.card-text {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: 500;
}

.imagen2 {
    text-align: center;
    width: 350px;
}

.skills {
    text-align: center;
}

.logo {
    width: 80px;
    height: 80px;
}

.icons-section .iconos {
    display: flex;
    justify-content: center;
    flex-direction: column; /* no olvidar: puede ser row o column dependiendo de lo q quiero*/
    gap: 10px;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer {
    background-color: #000000;
}

.iconos article {
    position: relative; 
}

.parrafo {
    display: none;
}

@keyframes imagen {
    from { background-image: url(../img/perfil.jpg);}
    to { background-image: url(../img/perfil2.jpg);}
}

.imagen {
    animation-name: imagen;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#perfil {
    opacity: 0.0;
}
